@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes gradientShift {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes waveAnimation {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(70deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(70deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wave-emoji {
    display: inline-block;
    animation: waveAnimation 5s infinite;
  }
}

@layer utilities {
  .animate-gradient-shift {
    animation: gradientShift 6s ease infinite;
    background-size: 200% 200%;
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-float-delay {
    animation: float 6s ease-in-out infinite 1s;
  }

  .outlined-text {
    -webkit-text-stroke: 1px black;
    color: #795548;
  }

  body {
    padding-top: 60px;
    background-size: 200% 200%;
    @apply bg-gradient-to-br from-[#3E2723] via-[#6A4E3F] to-[#3E2723] animate-gradient-shift;
  }
}
